.projects-bg {
    background: #101828;
}

.gradient-bar {
  background-image: linear-gradient(to right, oklch(.707 .165 254.624), oklch(.765 .177 163.223)) !important;
    width: calc(.25rem * 24);
    height: calc(.25rem * 1);
    margin: auto;
}
.custom-project-card-bg{
    background: #080c14 !important;
    color:#fff !important;
    border-radius: 12px !important;
    overflow: hidden;
    min-height: 470px !important;
    max-height: 100%;
}
.projects-card-skills-btn {
    background-color: rgba(7, 199, 146, 0.3) !important;
    color: #00d492 !important;
    border: 1px solid #00d492 !important;
    cursor: none;
}
.custom-other-projects-btn{
    background: oklch(.373 .034 259.733) !important;
    border: none !important;
}